@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#191f36;
    --snd-bf-color:#262840;
    --text-color:#fff;
    --main-color:#59b2f4;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: var(--bg-color);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    font-size: 2.5rem;
    font-weight: 700px;
    color: var(--text-color);
    text-decoration: none;
}
header .logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s;
    animation-delay: 4s;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
nav a{
    font-size: 16px;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
}
.nav-content li a:hover,
.nav-content li a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 2rem 9% 2rem;
}

/* home section */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
span{
    color: var(--main-color);
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-image img{
    width: 25vw;
    margin-left: 40px;
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4.rem;
    height: 4.rem;
    border: .2rem solid var(--main-color);
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
.home-btn{
    display: flex;
    gap: 1rem;
}
.home-btn a{
    display: block;
    margin-top: 2rem;
    padding: 5px;
    font-size: 15px;
    font-weight: larger;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    width: fit-content;
    border-radius:10px;
}

.home-btn a:hover{
    transition: .3s;
    background-color: var(--main-color);
    color: var(--bg-color);
}

/* about section */
